# Diretórios de build e cache
target/
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project
.classpath

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*~

# OS específicos
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes

# Documentação
README.md
HELP.md
*.md

# Docker
Dockerfile
.dockerignore
